.side-ber
  .side-ber__user-name
    .side-ber__user-name__box
      .side-ber__user-name__box--text
        = current_user.nickname
      .side-ber__user-name__box--icon-area
        = link_to new_group_path, class: "side-ber__user-name__box--icon-area--icon" do
          = icon('fas', 'edit')
        = link_to edit_user_path(current_user), class: "side-ber__user-name__box--icon-area--icon" do
          = icon('fas', 'cog')
  .side-ber__group-list
    - current_user.groups.each do |group|
      .side-ber__group-list__box
        = link_to group_messages_path(group.id), class: "none" do
          .side-ber__group-list__box__group-name
            = group.name
          .side-ber__group-list__box__new-message
            = group.show_last_message